@model FinalProject.Data.Product

@{
    ViewData["Title"] = "Edit";
}
<!-- ▼ CSS Load ▼-->
<link href="~/css/reset.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/css/common.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/css/swiper.css" rel="stylesheet" type="text/css" />
<link href="~/css/top_pages.css" rel="stylesheet" type="text/css" media="all" />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 style="font-size:30px">修改商品資訊</h1>
<br />
<h4 style="font-size:20px">輸入修改資訊</h4>
<hr />
<div class="row justify-content-center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<div class="form-group">
        <label asp-for="ProductId" class="control-label"></label>
        <input asp-for="ProductId" class="form-control" />
        <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>*@

        <input type="hidden" value="@Model.ProductId" name="ProductId" />

        <div class="form-group">
            <label asp-for="ProductName" class="control-label"></label>
            <input asp-for="ProductName" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Descript" class="control-label"></label>
            <textarea asp-for="Descript" class="form-control" style="height: 100px" />@Model.Descript</textarea>
            @*<input asp-for="Descript" class="form-control" />*@
            <span asp-validation-for="Descript" class="text-danger"></span>
        </div>

        @* <div class="form-group">
        <label asp-for="CategoryId" class="control-label"></label>
        <input asp-for="CategoryId" class="form-control" />
        <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <input type="hidden" value="@Model.CategoryId" name="CategoryId" />*@

        <div class="form-group">
            <label asp-for="CategoryId" class="control-label"></label>
            <select asp-for="CategoryId" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        @*<div class="form-group">
        <label asp-for="ProductStatus" class="control-label"></label>
        <input asp-for="ProductStatus" class="form-control" />
        <span asp-validation-for="ProductStatus" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="ProductStatus" class="control-label"></label>
            @Html.DropDownListFor(model => model.ProductStatus, ViewBag.Categories as List<SelectListItem>, "-- 請選擇商品狀態 --", new { @class = "form-control" })
            <span asp-validation-for="ProductStatus" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ProductStock" class="control-label"></label>
            <input asp-for="ProductStock" class="form-control" />
            <span asp-validation-for="ProductStock" class="text-danger"></span>
        </div>

        <input type="hidden" value="@Model.ReleaseDate" name="ReleaseDate" />

        @*<div class="form-group">
        <label asp-for="UpdatedDate" class="control-label"></label>
        <input asp-for="UpdatedDate" class="form-control" type="hidden" />
        <span asp-validation-for="UpdatedDate" class="text-danger"></span>
        </div>*@
        <input type="hidden" value="@Model.UpdatedDate" name="UpdatedDate" />

        @*<div class="form-group">
        <label asp-for="Type" class="control-label"></label>
        <input asp-for="Type" class="form-control" />
        <span asp-validation-for="Type" class="text-danger"></span>
        </div>*@

        <div class="form-group">
            <label asp-for="Type" class="control-label"></label>
            <select asp-for="Type" class="form-control">
                <option value="成品">成品</option>
                <option value="客製化">客製化</option>
            </select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>



        <div class="form-group">
            <label asp-for="ProductImage" class="control-label"></label>
            <input class="form-control" type="file" name="photo" />
            <span asp-validation-for="ProductImage" class="text-danger"></span>
        </div>

        <br />
        <div class="form-group">
            <input asp-action="ProductIndex" type="submit" value="送出" class="btn btn-primary" />
            <input asp-action="ProductIndex" type="submit" value="取消修改" class="btn btn-primary" />


        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

