@model FinalProject.Data.Message

@{
    ViewData["Title"] = "Details";
}

<h1>Message</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageContext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageContext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReplyContext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReplyContext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsReply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsReply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsShow)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsShow)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.EmployeeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.MemberId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MessageId">Edit</a> |
    <a asp-action="MessageList">Back to List</a>
</div>
