@model IEnumerable<FinalProject.Data.Message>

@{
    ViewData["Title"] = "MessageList";
}

<!--之後找個地方統一放BS-->
<link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

<link href="~/css/reset.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/css/common.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/css/swiper.css" rel="stylesheet" type="text/css" />
<link href="~/css/top_pages.css" rel="stylesheet" type="text/css" media="all" />

<!--jQuery-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<br />
<br />
<br />
<br />
<br />

<h1>Message</h1>
<p>
    <a asp-action="AddNewMessage">Add New Message</a>
</p>
@using (Html.BeginForm())
{
    <p style="text-align: right;">
        關鍵字 @Html.TextBox("txtKeyword")  <input type="submit" value="查詢" />
    </p>
}

<!--分頁標籤-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#page_All">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#page_isReplay">Is Replay</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#page_notReplay">Not yet Replay</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#page_isShow">Is Show</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#page_notShow">Not Show</a>
  </li>
</ul>



<!--分頁標籤的內容-->
<div id="page_All" class="page">Page 1 content
    <table class="table">
    <thead>
        <tr>
            <th scope="col">
                No.
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageContext)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ReplyTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ReplyContext)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsReply)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsShow)
            </th>

            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @{
                int count = 0;
                foreach (var item in Model) {
                    count++;
                    <tr>
                        <th scope="row">
                            @count
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Score)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MessageTime)
                        </td>
                        <td>
                            <!--只顯示前10個字-->
                            <span>@(item.MessageContext.Length > 10 ? item.MessageContext.Substring(0, 10) + "..." : item.MessageContext)</span>
                        </td>
                        <td>
                            <!--如果沒有圖片就顯示noPhoto.jpg。待修改，如果上傳的照片有問題或是找不到要怎麼處理!-->
                            @{
                                if (item.Image !=null && item.Image.ToString() !="NULL")
                                {
                                    <img src="~/imgs/messageImg/@item.Image" width="100"/>
                                }
                                else
                                {
                                    <img src="~/imgs/messageImg/noPhoto.jpg" width="100" />
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReplyTime)
                        </td>
                        <td>
                            <!--只顯示100px的字-->
                            <!--<span class="d-inline-block text-truncate" style="max-width: 100px;">@Html.DisplayFor(modelItem => item.ReplyContext)</span>-->
                            <!--只顯示前10個字-->
                            <span>@(item.ReplyContext.Length > 10 ? item.ReplyContext.Substring(0, 10) + "..." : item.ReplyContext)</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsReply)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsShow)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
                        </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>
<!---------------------------------------------------------------<<>>--------------------------------------------------------------->
<div id="page_isReplay" class="page">Page 2 conten
    <table class="table">
    <thead>
        <tr>
            <th scope="col">
                No.
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageContext)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ReplyTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ReplyContext)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsReply)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsShow)
            </th>

            <th></th>
        </tr>
    </thead>
    
    <tbody>
            @{
                count = 0;
                var model = Model.Where(m => m.IsReply == true);
                foreach (var item in model) {
                    count++;
                    <tr>
                        <th scope="row">
                            @count
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Score)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MessageTime)
                        </td>
                        <td>
                            <!--只顯示前10個字-->
                            <span>@(item.MessageContext.Length > 10 ? item.MessageContext.Substring(0, 10) + "..." : item.MessageContext)</span>
                        </td>
                        <td>
                            <!--如果沒有圖片就顯示noPhoto.jpg。待修改，如果上傳的照片有問題或是找不到要怎麼處理!-->
                            @{
                                if (item.Image !=null && item.Image.ToString() !="NULL")
                                {
                                    <img src="~/imgs/messageImg/@item.Image" width="100"/>
                                }
                                else
                                {
                                    <img src="~/imgs/messageImg/noPhoto.jpg" width="100" />
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReplyTime)
                        </td>
                        <td>
                            <!--只顯示100px的字-->
                            <!--<span class="d-inline-block text-truncate" style="max-width: 100px;">@Html.DisplayFor(modelItem => item.ReplyContext)</span>-->
                            <!--只顯示前10個字-->
                            <span>@(item.ReplyContext.Length > 10 ? item.ReplyContext.Substring(0, 10) + "..." : item.ReplyContext)</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsReply)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsShow)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
                        </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>
<!---------------------------------------------------------------<<>>--------------------------------------------------------------->
<div id="page_notReplay" class="page" onclick="changeLabel(@Model.Where(m => m.IsReply == false))">Page 3 content
    <table class="table">
    <thead>
        <tr>
            <th scope="col">
                No.
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageContext)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ReplyTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ReplyContext)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsReply)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsShow)
            </th>

            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @{
                count = 0;
                model = Model.Where(m => m.IsReply == false);
                foreach (var item in model) {
                    count++;
                    <tr>
                        <th scope="row">
                            @count
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Score)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MessageTime)
                        </td>
                        <td>
                            <!--只顯示前10個字-->
                            <span>@(item.MessageContext.Length > 10 ? item.MessageContext.Substring(0, 10) + "..." : item.MessageContext)</span>
                        </td>
                        <td>
                            <!--如果沒有圖片就顯示noPhoto.jpg。待修改，如果上傳的照片有問題或是找不到要怎麼處理!-->
                            @{
                                if (item.Image !=null && item.Image.ToString() !="NULL")
                                {
                                    <img src="~/imgs/messageImg/@item.Image" width="100"/>
                                }
                                else
                                {
                                    <img src="~/imgs/messageImg/noPhoto.jpg" width="100" />
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReplyTime)
                        </td>
                        <td>
                            <!--只顯示100px的字-->
                            <!--<span class="d-inline-block text-truncate" style="max-width: 100px;">@Html.DisplayFor(modelItem => item.ReplyContext)</span>-->
                            <!--只顯示前10個字-->
                            <span>@(item.ReplyContext.Length > 10 ? item.ReplyContext.Substring(0, 10) + "..." : item.ReplyContext)</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsReply)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsShow)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
                        </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>
<!---------------------------------------------------------------<<>>--------------------------------------------------------------->
<div id="page_isShow" class="page">Page 4 content
    <table class="table">
    <thead>
        <tr>
            <th scope="col">
                No.
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageContext)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ReplyTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ReplyContext)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsReply)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsShow)
            </th>

            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @{
                count = 0;
                model = Model.Where(m => m.IsShow == true);
                foreach (var item in model) {
                    count++;
                    <tr>
                        <th scope="row">
                            @count
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Score)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MessageTime)
                        </td>
                        <td>
                            <!--只顯示前10個字-->
                            <span>@(item.MessageContext.Length > 10 ? item.MessageContext.Substring(0, 10) + "..." : item.MessageContext)</span>
                        </td>
                        <td>
                            <!--如果沒有圖片就顯示noPhoto.jpg。待修改，如果上傳的照片有問題或是找不到要怎麼處理!-->
                            @{
                                if (item.Image !=null && item.Image.ToString() !="NULL")
                                {
                                    <img src="~/imgs/messageImg/@item.Image" width="100"/>
                                }
                                else
                                {
                                    <img src="~/imgs/messageImg/noPhoto.jpg" width="100" />
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReplyTime)
                        </td>
                        <td>
                            <!--只顯示100px的字-->
                            <!--<span class="d-inline-block text-truncate" style="max-width: 100px;">@Html.DisplayFor(modelItem => item.ReplyContext)</span>-->
                            <!--只顯示前10個字-->
                            <span>@(item.ReplyContext.Length > 10 ? item.ReplyContext.Substring(0, 10) + "..." : item.ReplyContext)</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsReply)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsShow)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
                        </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>
<!---------------------------------------------------------------<<>>--------------------------------------------------------------->
<div id="page_notShow" class="page">Page 5 content
    <table class="table">
    <thead>
        <tr>
            <th scope="col">
                No.
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Score)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.MessageContext)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ReplyTime)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ReplyContext)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsReply)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.IsShow)
            </th>

            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @{
                count = 0;
                model = Model.Where(m => m.IsShow == false);
                foreach (var item in model) {
                    count++;
                    <tr>
                        <th scope="row">
                            @count
                        </th>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Score)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MessageTime)
                        </td>
                        <td>
                            <!--只顯示前10個字-->
                            <span>@(item.MessageContext.Length > 10 ? item.MessageContext.Substring(0, 10) + "..." : item.MessageContext)</span>
                        </td>
                        <td>
                            <!--如果沒有圖片就顯示noPhoto.jpg。待修改，如果上傳的照片有問題或是找不到要怎麼處理!-->
                            @{
                                if (item.Image !=null && item.Image.ToString() !="NULL")
                                {
                                    <img src="~/imgs/messageImg/@item.Image" width="100"/>
                                }
                                else
                                {
                                    <img src="~/imgs/messageImg/noPhoto.jpg" width="100" />
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Employee.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReplyTime)
                        </td>
                        <td>
                            <!--只顯示100px的字-->
                            <!--<span class="d-inline-block text-truncate" style="max-width: 100px;">@Html.DisplayFor(modelItem => item.ReplyContext)</span>-->
                            <!--只顯示前10個字-->
                            <span>@(item.ReplyContext.Length > 10 ? item.ReplyContext.Substring(0, 10) + "..." : item.ReplyContext)</span>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsReply)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsShow)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MessageId">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.MessageId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.MessageId">Delete</a>
                        </td>
                </tr>
            }
        }
    </tbody>
</table>
</div>

<script>
$(document).ready(function() {
  // 隐藏除第一个页面以外的其他页面内容
  $(".page").not("#page_All").hide();

  // 点击标签页时切换页面
  $(".nav-link").click(function() {
    // 移除所有标签页的活动状态
    $(".nav-link").removeClass("active");

    // 隐藏所有页面内容
    $(".page").hide();

    // 将点击的标签页设置为活动状态
    $(this).addClass("active");

    // 获取目标页面的 ID
    var target = $(this).attr("href");

    // 显示目标页面内容
    $(target).show();

    // 取消默认的链接跳转行为
    return false;
  });
});
</script>
