@model IEnumerable<Product_new.Models.Product>

@{
    ViewData["Title"] = "List";
}

<!-- ▼ CSS Load ▼-->
<link href="~/css/reset.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/css/common.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/css/swiper.css" rel="stylesheet" type="text/css" />
<link href="~/css/top_pages.css" rel="stylesheet" type="text/css" media="all" />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1 style="font-size:30px">商品後台管理</h1>
<br />
<div style="display: flex; align-items: center; justify-content: space-between;">
    @using (Html.BeginForm())
    {
        <p style="margin-bottom: 0;">
            查詢 @Html.TextBox("txtKeyword", null, new { placeholder = "輸入關鍵字", @class = "form-control", style = "display: inline-block; width: auto;" })
            <button type="submit" class="btn btn-primary" style="display: inline-block;">查詢</button>
        </p>

    }
    <button type="button" onclick="location.href='@Url.Action("Create")'" class="btn btn-primary">新增商品</button>
</div>


<table class="table table-hover" style="width: 100%;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descript)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ProductStatus)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductStock)
            </th>
            <th>
                庫存狀
            </th>
            <th>
              @*  @Html.DisplayNameFor(model => model.ReleaseDate)*@
            </th>
            <th>
              @*  @Html.DisplayNameFor(model => model.UpdatedDate)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @*@Html.DisplayFor(modelItem => item.ProductImage)*@
                <img src="~/images/@item.ProductImage" width="150" height="100" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descript)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ProductStatus)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductStock)
            </td>
            <td>
                @if (item.ProductStock >= 50){
                <span class="badge bg-info text-white">上架中</span>
                }
                else if(item.ProductStock < 30 && item.ProductStock > 0 ){
                <span class="badge bg-warning text-dark">存貨確認</span>
                }
                else if(item.ProductStock == 0){
                <span class="badge bg-danger text-light">缺貨</span>
                }
            </td>

            @*<td>
                @Html.DisplayFor(modelItem => item.ProductImage)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", "Product", new { id = item.ProductId }, new { @class = "btn btn-success btn-sm " }) 
                @Html.ActionLink("刪除", "Delete", "Product", new { id = item.ProductId }, new { onclick = "return confirm('確定要刪除此商品嗎?')", Class = "btn btn-danger btn-sm" })
            </td>
        </tr>
}
    </tbody>
</table>


@*分頁功能*@
<center>
    @if (ViewBag.pageNum == null || ViewBag.pageNum == 0)
    {
        <a href="#">content</a>
    }
    else
    {
        for (int i = 1; i <= ViewBag.pageNum; i++)
        {
            <a href="@Url.Action("List", new { Page = i, KeyWord = ViewBag.Keyword })">@i</a>
        }
    }
</center>




